body {
    background-color: #5599FF;
}

#header {
    font-size: 50px;
    color: white;
}

#Control {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#OrderMusicList {
    height: 75vh;
    width: 18rem;
    border-radius: 5px;
    margin: 0 15px 0 0;
}

#NowPlaying {
    height: 75vh;
    width: 75vh;
    border-radius: 5px;
    margin: 0 15px 0 0;
}

#span {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

#music {
    width: 40%;
}

#MainControl {
    display: flex;
    justify-content: center
}

#MusicUploadBtn {
    margin-left: 10px;
}

#MusicUpload {
    display: none;
}